@model Clinic2.Models.Consultation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.creatieDate)*@ Date de création
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creatieDate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.createBy)*@ Créé par
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createBy)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Patient.createBy)*@ Numéro du patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.ID_Patient)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Patient.createBy)*@ Nom du patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.nom) @Html.DisplayFor(model => model.Patient.prenom)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.changeDate)*@ Date du dernier changement
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changeDate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.changeBy)*@Changé par
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changeBy)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.motif)*@ Motif
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motif)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.note)*@ Note
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.poids)*@ Poids
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.taille)*@ Taille
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taille)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.temperature)*@ Température
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temperature)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.systol)*@ Systol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.systol)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.diastol)*@ Diastol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diastol)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.diagnostique)*@ Diagnostique
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostique)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.maladie)*@ Maladie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maladie)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.antecedent)*@ Antécédent
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antecedent)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.statut)*@ Statut
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID_Consultation }) |
    @Html.ActionLink("Retour à la liste des consultations", "Index")
</p>
