@model Clinic2.Models.Consultation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.creatieDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creatieDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changeBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changeBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taille)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taille)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.systol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.systol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diastol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diastol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnostique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maladie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maladie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.antecedent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antecedent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.createBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.createBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.createBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.createBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Consultation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
