@model IEnumerable<Clinic2.Models.Consultation>

@{
    ViewBag.Title = "Liste des consultations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des consultations</h2>

@*<p>
    @Html.ActionLink("Cr", "Create")
</p>*@
<table class="table  table-hover table-bordered">
    <tr>
         <th>
            @*@Html.DisplayNameFor(model => model.creatieDate)*@ Numéro consultation
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.creatieDate)*@ Date de création
        </th>
        @*<th>
           Créé Par
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Patient.nom)*@ Numéro du patient
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Patient.nom)*@ Nom du patient
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.changeDate)*@ Date du dernier changement
        </th>
        @*<th>
           Changer par
        </th>*@

        <th>
            @*@Html.DisplayNameFor(model => model.statut)*@ Statut
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.Staff.createBy)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Consultation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creatieDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.createBy)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Patient.ID_Patient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.nom) @Html.DisplayFor(modelItem => item.Patient.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.changeDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Staff.nom) @Html.DisplayFor(modelItem => item.Staff.prenom)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.statut)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.Staff.nom) @Html.DisplayFor(modelItem => item.Staff.prenom)
        </td>*@
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id = item.ID_Consultation }, new { target = "_blank", @class = "btn btn-success btn-sm active" })
            @Html.ActionLink("Details", "Details", new { id = item.ID_Consultation }, new { target = "_blank", @class = "btn btn-primary btn-sm active" })
        </td>
    </tr>
}

</table>
