@model Clinic2.Models.Staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.createDate)*@ Date de création
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.createBy)*@ Créé par
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createBy)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.changeDate)*@ Date du dernier changement
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changeDate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.changeBy)*@ Changé par
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changeBy)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.nom)*@ Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.prenom)*@ Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.sexe)*@ Sexe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexe)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.role)*@ Role
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.phone)*@ Téléphone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.email)*@ Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.statut)*@ Statut
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.debutService)*@ Date de début de service
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debutService)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.finService)*@ Date de fin de service
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finService)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Staff }) |
    @Html.ActionLink("Back to List", "Index")
</p>
