@model Clinic2.Models.Patient

@{
    ViewBag.Title = "Modifier fiche patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page d'édition de la fiche patient</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*<h4>Fiche Patient</h4>*@
    <hr />

    <h3>Donnée général</h3>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_Patient)
    <div class="form-group">
        @Html.LabelFor(model => model.createDate, "Date de création", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(i => i.createDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.createDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.createDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.createBy, "Créer par", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(i => i.createBy, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.createBy, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.createBy, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.changeDate, "Date de changement", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(i => i.changeDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.changeDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.changeDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.changeBy, "Changé par", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(i => i.changeBy, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.changeBy, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.changeBy, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nom, "Nom", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.prenom, "Prénom", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.date_naissance, "Date de naissance", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.date_naissance, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.date_naissance, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sexe, "Sexe", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sexe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sexe, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.profession, "Profession", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.profession, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.profession, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.situation_familial, "Situation familial", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.situation_familial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.situation_familial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.groupe_sanguin, "Groupe Sanguin", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.groupe_sanguin, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownList("groupe_sanguin", new List<SelectListItem>
                {
                   new SelectListItem{ Text="A+", Value = "A+" },
                   new SelectListItem{ Text="A-", Value = "A-" },
                   new SelectListItem{ Text="B+", Value = "B+" },
                   new SelectListItem{ Text="B-", Value = "B-" },
                   new SelectListItem{ Text="O+", Value = "O+" },
                   new SelectListItem{ Text="O-", Value = "O-" },
                   new SelectListItem{ Text="AB+", Value = "AB+" },
                   new SelectListItem{ Text="AB-", Value = "AB-" },
                }, "Faite un choix", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.groupe_sanguin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.telephone, "Telephone", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.extra_info, "Info supplémentaire", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.extra_info, htmlAttributes: new { @class = "form-control", @cols = 3000, @rows = 8 })
            @Html.ValidationMessageFor(model => model.extra_info, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.statut, "Statut", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.statut)
                @Html.ValidationMessageFor(model => model.statut, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <h3>Adresse</h3> 
    <h4>@Html.ActionLink("Historique adresse", "HistoriqueAdresse", new { id = Model.ID_Patient }, new { target = "_blank" })</h4>
    
    <div class="form-group">
        @Html.Label("Pays", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.adresse.pays, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="col-md-5">
            @*@Html.Editor("pays", new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownList("country", new List<SelectListItem>
            {
               new SelectListItem{ Text="", Value ="" },
            }, "Faite un choix", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Ville", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.adresse.ville, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        </div>

        <div class="col-md-5">
            @*@Html.Editor("ville", new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownList("state", new List<SelectListItem>
            {
               new SelectListItem{ Text="", Value ="" },
            }, "Faite un choix", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.adresse.prefecture, "Prefecture", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.adresse.prefecture, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.adresse.prefecture, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.adresse.village, "Village", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.adresse.village, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.adresse.prefecture, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/autosize")
    <script src="~/Scripts/countries.js"></script>
    <script language="javascript">
        populateCountries("country", "state"); // first parameter is id of country drop-down and second parameter is id of state drop-down
    </script>
}
<script>
    window.onload = function () { autosize(document.getElementById("extra_info")); };
</script>
