@model IEnumerable<Clinic2.Models.Adresse>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Numéro Patient
            @*@Html.DisplayNameFor(model => model.createDate)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prefecture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.village)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateFin)
        </th>
        <th></th>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Patient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prefecture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.village)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateFin)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.ID_Patient }) |
                @Html.ActionLink("Modifier", "Edit", new { id = item.ID_Patient }) |
                @Html.ActionLink("Consultation", "Edit", new { id = item.ID_Patient }) |
                @Html.ActionLink("Historique adresse", "Edit", new { id = item.ID_Patient }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_Patient })
            </td>
        </tr>
    }

    </table>
    <div>
        @Html.ActionLink("Back to List", "~/Views/Patients/Index.cshtl")
    </div>
